---
feature_name: Service Worker postMessage()
chrome_version: 45
feature_id: 5163630974730240
---

{% capture initial_output_content %}
<div id="commands" style="display: none">
  <div>
    <label for="url">Resource URL:</label>
    <input id="url" type="text" size="50" value="https://www.google.com/">
    <button id="add">Add to Cache</button>
    <button id="delete">Delete from Cache</button>
  </div>
  <div>
    <button id="listcontents">List Current Cache Contents</button>
  </div>
  <ul id="contents"></ul>
</div>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content %}

{% include js_snippet.html filename='demo.js' %}
